{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.sql",
      "options": {
        "parser": "sql",
        "singleQuote": false,
        "trailingComma": "none"
      }
    }
  ]
}