/* Mobile */
.chat-container {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: #EFF1F5;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.chat-messages {
  min-height: 30vh;
  padding: 1rem;
  overflow: auto;
  flex: 1;
}

/* ul container */
.chat-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  color: #EFF1F5;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
/* Bubbles*/
.chat-line {
  padding: 0.5rem;
  width: 45%;
}

/* User chat bubble*/
.chat-list li:nth-child(2n + 1) {
  align-self: start;
  background-color: #179299;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 16px 16px #179299, 16px, 16px, 16px;
}

/* ISS bot chat bubble*/
.chat-list li:nth-child(2n) {
  align-self: end;
  background-color: #054862;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: -16px 16px #054862, 16px, 16px, 16px;
}

/* 
.chat-line {
  position: relative;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 8px;
}

.chat-list li:nth-child(2n + 1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #f2f2f2 transparent transparent;
}

.chat-list li:nth-child(2n + 1)::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -16px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent lightgray transparent transparent;
}

.chat-list li:nth-child(2n)::before {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent lightgray transparent transparent;
}

.chat-list li:nth-child(2n + 1)::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -16px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent #f2f2f2 transparent transparent;
} */

.chat-form {
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: var(--border-radius);
  margin-top: 0.5rem;
  border-top: 2px solid #ccc;
}

.chat-input {
  width: 95%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  border-radius: 10px;
  text-align: start;
  padding-left: 3rem;
}

.chat-input:focus {
  border: 2px solid var(--color-primary);
  background-color: white;
  color: black;
  font-weight: bold;
}

.chat-button {
  margin-right: 0.3rem;
  width: 5%;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.chat-icon-button {
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: 100%;
  height: 100%;
}
/* .chat-icon-button {
  height: 1.75rem;
} */
/* Tablet */

/* Desktop */
