/* Mobile */
.chat-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: antiquewhite;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.chat-messages {
  min-height: 15vh;
  padding: 1rem;
  overflow: auto;
  flex: 1;
}

.chat-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  color: black;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.chat-list li:nth-child(2n + 1) {
  align-self: start;
  background-color: aquamarine;
  border-radius: 10px 10px 0px 10px;
}

.chat-list li:nth-child(2n) {
  align-self: end;
  background-color: aqua;
  border-radius: 10px 10px 10px 0px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.chat-line {
  padding: 0.5rem;
  width: 45%;
}

.chat-form {
  min-height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: var(--border-radius);
  margin-top: 0.5rem;
  border-top: 2px solid #ccc;
}

.chat-input {
  width: 95%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  border-radius: 10px;
  text-align: start;
  padding-left: 3rem;
}

.chat-input:focus {
  border: 2px solid var(--color-primary);
  background-color: white;
  color: black;
  font-weight: bold;
}

.chat-button {
  margin-right: 0.3rem;
  width: 5%;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.chat-icon-button {
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: 100%;
  height: 100%;
}
/* .chat-icon-button {
  height: 1.75rem;
} */
/* Tablet */

/* Desktop */
