/* Mobile */
.cart-articles-section {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-product-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.cart-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  gap: 1rem;
}

.cart-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart-infos {
 width: 50%;
}
.cart-price-infos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cart-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Pour Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.custom-number-input, .button-quantity {
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
}
.cart-product-image {
  border-radius: var(--border-radius);
  width: 120px;
  height: 120px;
}

.cart-infos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fa-trash::before {
  color: whitesmoke;
}

.cart-total-price {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

.cart-submit {
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
  padding: 0.3rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: whitesmoke;
  margin-top: 1.5rem;
}
/* Tablet */
@media only screen and (min-width: 769px) {
  .cart-list {
    width: 60vw;
  }
}

/* Desktop */
@media only screen and (min-width: 1025px) {
  .cart-list {
    width: 40vw;
  }
}
