/* Tablet */
.map-crew-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.crew-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.crew-card {
width: 80%;
margin: 0 auto;
}


.crew-button {
  width: 80%;
display: flex;
gap: 1rem;
}

.crew-div {
  display: flex;
  flex-direction: column;
}

.card-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.card-left img {
  border: solid 1px;
  border-radius: 25px;
  width: 160px;
}

.card-left h2 {
  text-align: center;
  color: black;
}

.card-right h2 {
  font-size: 30px;
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

.crew-description {
  font-size: 18px;
  padding: 15px;
  width: 80%;
  line-height: 1.5;
  margin: auto;
}

@media only screen and (min-width: 1370px) {
  .crew-button {
    width: 90%;
  display: flex;
  gap: 1rem;
  }
}
@media only screen and (min-width: 604px) {
  .crew-div {
    flex-direction: row;
  }
}
