/* Mobile */
.chronicles-missions-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 80vw;
  border-radius: var(--border-radius);
  background-color: var(--background-blur);
  padding: 2rem;
}

.chronicles-picture-iss {
  margin: auto;
  width: 90vw;
  border-radius: var(--border-radius);
}

.chronicles-news-section {
  margin: auto;
  height: 500px;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
background-color: var(--background-blur);
border-radius: var(--border-radius);
padding: 2rem;

}

.chronicles-news {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

iframe {
  aspect-ratio: 16/9;
  height: 100%;
  overflow-y: auto; 
}

.chronicles-fun-facts-section {
  margin: auto;
  min-height: 30vh;
  width: 80vw;
  border-radius: var(--border-radius);
  background-color: var(--background-blur);
  padding: 2rem;
}

/* Tablet */
@media only screen and (min-width: 769px) {
  .chronicles-picture-iss {
    margin: auto;
    width: 70vw;
    border-radius: var(--border-radius);
  }
}

/* Tablet */
@media only screen and (min-width: 1025px) {
.chronicles-news-section {
  margin: auto;
  width: 80vw;
background-color: var(--background-blur);
border-radius: var(--border-radius);
/* padding: 2rem; */

}

.chronicles-news {
height: 100%;
}

iframe {
  aspect-ratio: 16/9;
  overflow-y: auto; 
}
}
/* Desktop */
@media only screen and (min-width: 1025px) {
  .chronicles-picture-iss {
    margin: auto;
    width: 50vw;
    border-radius: var(--border-radius);
  }
}
