/* Mobile */
.chronicles-missions-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--background-blur);
  padding: 0.5rem;
}
/* Tablet */

/* Desktop */
