/* Timer.jsx */
/* Mobile */

.timer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .timer-h3{
    margin: 1rem;
  }
  
  .timer-iss{
    text-align: center;
    color: var(--font-color);
    font-size: 1.5rem;
    margin: 1rem;
  }


