/* Mobile */
.missions-change-button {
  width: 40%;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--links-color);
  color: var(--background-color);
  font-weight: bold;
}

/* Tablet */
@media only screen and (min-width: 769px) {
  .missions-change-button {
    width: 30%;
  }
}

/* Desktop */
@media only screen and (min-width: 1025px) {
  .missions-change-button {
    width: 20%;
  }
}
