/*Mobile*/
@media only screen and (min-width: 480px) {
  .timeline-div-mobile {
    display: none;
  }
  .timeline-div-Desktop {
    display: flex;
  }
}

@media only screen and (max-width: 480px) {
  .timeline-div-Desktop {
    display: none;
  }
}

/*DeskTop*/
.timeline-div-Desktop {
  align-items: center;
  flex-direction: column;
}

.timeline-button {
  display: flex;
  gap: 2vw;
  justify-content: center;
  border-top: 3px solid white;
  margin: 10px 0;
  padding: 0.1rem;
}

.timeline-img {
  width: 50vw;
  border-radius: var(--border-radius);
}

button {
  padding: 0.1rem;
}
