:root {
  --background-color: black;
  --links-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--background-color);
  color: white;
  display: flex;
}

img {
  width: 5vw;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav > ul > li {
  list-style-type: none;
  margin: 1rem 1rem;
}

nav > ul > li > a {
  text-decoration: none;
  color: var(--links-color);
}

nav > ul > li:hover {
  background-color: white;
  height: 100%;
}

nav > ul > li > a:hover {
  text-decoration: none;
  color: black;
}
