:root {
  --background-color: black;
  --font-color: white;
  --links-color: white;
  --border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: var(--background-color);
  background: url(../public/images/milky-way.jpg) center/cover repeat;
  height: 100%;
}

body {
  color: var(--links-color);
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  width: 100vw;
}

h1,
h2,
h3 {
  color: var(--font-color);
  text-align: center;
  margin: 2rem 2rem;
}

.logo {
  width: 5vw;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav > ul > li {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 1rem 1rem;
}

nav > ul > li > a {
  text-decoration: none;
  color: var(--links-color);
}

nav > ul > li:hover {
  background-color: white;
  height: 100%;
}

nav > ul > li > a:hover {
  text-decoration: none;
  color: black;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: 10vh;
  gap: 1rem;
  background-color: var(--background-color);
  color: var(--font-color);
}

.footer-div-social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-logos {
  width: 1.5rem;
}
