/* Mobile */
.map-live-section{
  display: flex;
  position: relative;
  flex-direction: column;
}

.map-panel-info{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.map-div{
  overflow: hidden;
  height: 200px;
  width: 300px;
}

.map-live-video {
  width: 200px;
  height: 150px;
  top: 3rem;
  right: 3rem;
  margin: 2vh auto;
}
.map-live-section {
  display: flex;
  position: relative;
}

.map-panel-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.map-live-video {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 3rem;
  right: 3rem;
}
/* Tablet */

/* Desktop */
.titre {
    padding: 5px;
    text-align: center;
  }
  .crew-image {
    width: 120px;
    height: 165px;
  }
  
  .crew-modal {
    padding: 15px;
    color: black;
  }
  
  .crew-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
    margin: 15px;
    padding: 10px;
    width: 100;
  }
  
  .timeline-card {
    border: solid;
    border-radius: 25px;
    background: white;
    margin: 15px;
    padding: 25px;
    width: 100;
  }
@media only screen and (min-width: 789px){
  .map-live-section{
    flex-direction: inherit;
  }

  .map-panel-info{
    align-items: none;
  }

  .map-div{
    height: 800px;
    width: 100%;
    margin-left: 5vh;
  }

  .map-live-video{
    position: absolute;
    height: 300px;
    width: 400px;
  }
}
